Django==5.2
djangorestframework==3.15.1
django-cors-headers==4.3.1
celery==5.5.3
redis==5.0.1
python-telegram-bot==21.7
python-dotenv==1.0.0
drf-yasg==1.21.7
Pillow==11.3.0
django-celery-beat==2.8.1
gunicorn==21.2.0
django-filter==23.5
asgiref==3.8.1
sqlparse==0.4.4
python-decouple==3.8
psycopg2==2.9.10
amqp==5.3.1
billiard==4.2.2
